.image-cropper {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 15px;
}

img {
  display: inline;
  margin: 0 auto;
}

.center {
  margin: auto;
  width: 75%;
  padding: 10px;
  text-align: center;
}

.hex {
  zoom: 0.5;
  max-height: 275px;
}

.rhs {
  display: inline-block;
  vertical-align: top;
}

h3 {
  font-weight: lighter;
}

.features {
  z-index: 10;
}

.features ul {
  list-style: none;
  padding: 0;
}

.features ul li:before {
  content: '🗹';
  color: green;
  padding-right: 5px;
}

.features li {
  display: none;
  font-size: 1.5em;
  text-align: left;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.col {
  flex: 1;
}

a {
  color: gray
}